*.DotSettings.user
*.user
*.userprefs

*.sln.DotSettings

*.tmp
*.temp
*.swp
*~
~$*

bin/
obj/
*.exe
*.dll
*.so
*.a
*.lib
*.out
*.app

packages/
node_modules/

TestResults/
*.trx

*.log
*.dump

.*/
.DS_Store
Thumbs.db

*.bak
*.autosave

appsettings.json
appsettings.*.json